# Ignore everything
*

# But not these directories
!migraine_demo/
!migraine_prediction_app/

# Don't ignore .gitignore itself
!.gitignore
data/
output/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.vscode/
*.h5
*.csv
